<table class="table table-info table-striped table-bordered">
  <tr>
    <th>STT</th>
    <th>Tên khách hàng</th>
    <th>Ngày sinh</th>
    <th>Giới tính</th>
    <th>Số CMND</th>
    <th>Số điện thoại</th>
    <th>Email</th>
    <th>Địa chỉ</th>
    <th>Loại khách hàng</th>
    <th>Sửa</th>
    <th>Xóa</th>
    <th>View</th>
  </tr>
  <tr>
    <td>1</td>
    <td>abc</td>
    <td>abc</td>
    <td>Nữ</td>
    <td>abc</td>
    <td>abc</td>
    <td>abc</td>
    <td>abc</td>
    <td>abc</td>
    <td>
      <a class="btn btn-outline-success">Edit</a>
    </td>
    <td>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal"
              data-bs-target="#modelId">
        Delete
      </button>
    </td>
    <td>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
              data-bs-target="#modelView">
        View
      </button>
    </td>
  </tr>
</table>
